html{text-align: center;
	text-shadow: #FC0 1px 0 10px;
}
h1 {color: Green; 
	font-family: Script; bold; }
.show{
	background-color:white;
	color:black;
}

p{
	color: Blue;
	font-family: Georgia;	
}
.headings{ 
	text-decoration-line: underline;
}
	
@media(min-width:300px){
	.container{
		display:flexbox;
		justify-content:space-between;
	}
	.row1{
		dt{text-align:left;}
		dd{text-align:right;}
	}
}

@media(min-width:300px){
	.container1{
		display:flexbox;
		justify-content:space-between;
	}
	.row{
		justify-content:space-between;
		text-align:left;
	}
	
	
}

@media(min-width:300px){
	.row{
		display:flexbox;
		justify-content:space-between;
		text-align:left;
	}
	
}

.column{
		background-color:pink;
		border:1px #ccc solid;
}	
@media(min-width:600px){
	.container2{
		display:flex;
		flex-basis:25%;
		text-align:left;
		justify-content:space-between;
	}
	.row{
		justify-content:space-between;
	}
}