html{text-align: center;
	text-shadow: #FC0 1px 0 10px;
}
h1 {color: Green; 
	font-family: Script; bold; }


p{
	color: Blue;
	font-family: Georgia;	
}
.headings{ 
	text-decoration-line: underline;
	}


@media(min-width:300px){
	.container1{
		display:flexbox;
		justify-content:space-between;
	}
	.row{
		justify-content:space-between;
	}
}

@media(min-width:500px){
	.row1{
		display:flexbox;
		justify-content:space-between;
	}
	dt{text-align:left;}
	dd{text-align:right;}
}

.column{
		background-color:pink;
		border:1px #ccc solid;
}	
@media(min-width:600px){
	.container2{
		display:flex;
		flex-basis:25%;
		justify-content:space-between;
	}
	.row{
		justify-content:space-between;
	}
}